<form [formGroup]="myForm" (ngSubmit)="save(myForm.value)" novalidate>

  <div class="form-group">
    <label for="questionTitle">Title</label>
    <input formControlName="title" id="questionTitle" class="form-control" type="text" autofocus>
    <span [hidden]="myForm.controls.title.valid || (myForm.controls.title.pristine && !submitted)" class="text-danger">
            Title is required (minimum 5 characters).
    </span>
  </div>

  <button [disabled]="!myForm.valid" type="submit" class="btn btn-default">Submit</button>

</form>
