body {
  margin: 0;
}

.ng-pristine {
  border-left: 5px solid initial;
}
.ng-invalid.ng-dirty {
  border-left: 5px solid #a94442;
}

my-app {
  display: block;
  padding: 1.0rem;
}

.my-menu {
  display: block;
  margin-bottom: 1.0rem;
  > a {
    display: inline-block;
    &.active {
      color: #0000ff;
    }
  }
}

my-question-list {
  md-card {
    margin-bottom: 1.0rem;
  }
}
